body {
    max-width: 80ch;
    margin: 0 auto;
    padding: 6ch;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}
figure {
    font-style: italic;
    padding: 0;
    margin: 0;
    text-align: center;
}
img {
    margin: 0 auto;
    max-width: 80ch;
    max-height: 80ch;
}