:root {
    --max-width: 80ch;
    --primary-color: #ff7800;
    --secondary-color: #4d2d0b;
    --tertiary-color: #989898;
    --background-color: #f8f8f8;
    --font-color: black;
}

body {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 6ch;
    line-height: 1.6;
    font-optical-sizing: auto;
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-style: bold;
    color: var(--secondary-color);
    font-family: "Besley", serif;
}

img {
    margin: 0 auto;
    max-width: var(--max-width);
    max-height: var(--max-width);
}

pre.mermaid {
    text-align: center;
}

code {
    color: var(--primary-color);
}

hr {
    border: 0;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.33s;
}

.last-update {
    color: var(--tertiary-color);
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
}

nav ul li:hover {
    background-color: var(--primary-color);
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

nav ul li a:active {
    display: block;
    color: red;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    display: block;
    color: green;
    text-align: center;
    text-decoration: none;
}

nav ul li a:visited {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
